body > .container {
    padding: 100px 100px 100;
  }


  h2 {
    color: rgb(75, 90, 83) !important;
  }

  h3{
    color: black !important;

  }
  
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  }

  .text-muted{
    color: seashell !important;
  }

  .img{
    height: 200px;
    padding: 25px;
  }

  .paragraph{
    float:right !important;
  }
  
  .container {
    position: relative;
  }
  
  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }
  
  img {
    border: 5px solid #1ca688;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  #bio {
    border: 5px solid #1ca688;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border-width: 10px 10px 10px 10px;
  }
